body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    /* color: #a9a9ab; */
    background-color: #fff;
    margin: 0px;
}

a, a:visited {
    color: #cf1e24;
    text-decoration: underline;
}

header {
    padding: 15px;
    background-color: #373b46;
    text-align: center;
}

header .avatar {
    background-image: url('../images/profile.jpg');
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    border: 2px solid #a9a9ab;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-top: 20px;
}

header h1 {
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    margin-bottom: 10px;
}

main {
    padding: 15px;
    color: #383840;
}
main h1 {
    font-size: 30px;
}

main .text {
    font-size: 18px;
}
main .project {
    border-bottom: 1px solid #a9a9ab;
    padding-bottom: 10px;
}
main .project div {
    font-size: 18px;
}
main .project .links {
    margin: 10px 0;
}
main .project .links a {
    margin-right: 10px;
}

pre {
    display: inline;
}